:root {
  --white: #fff;
  --black: #212529;
  --gray: #6c757d;
  --light-gray: #f8f9fa;
  --red: #dc3545;
  --light-red: #ffe3e3;
  --anker: #0d6efd;
  --green: #198754;
  --yellow: #ffc107;
  --light-blue: #0dcaf0;

  --regular: 400;
  --bold: 700;
}
